.seriescard {
    padding: 20px;
}

.seriescard p {
    text-align: center;
    width: 200px;
    padding-top: 8px;
    color: black;
}

.seriescard .img {
    height: 250px;
    width: 200px;
}

img {
    height: 100%;
    width: 100%;
}